body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #d2d2d2;
}

li{
  display: inline;
  list-style: none;
}


/* Navbar */

.nav-container{
  background-color: #2d2d2d;
}

.navbar {

  li {
    margin-top: 20px;
    margin-top: 20px;
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;	
  
    a {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-size: 0.7em;
      letter-spacing: 0.6em;
      position: relative;
      display: inline-block;
      padding: 10px;
      font-weight: 500;
      color: #fff;
    }
        
    a:hover,
    a:focus {
      color: rgba(255, 255, 255, 0.822);
      text-decoration: none;
    }  
  }
}


/* Page header */

.front-page-header {
  background-image: url(assets/theme_images/hero-image.jpg);
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 600px;
  background-size: cover;
  overflow: hidden;
  margin: auto;
  text-align: center;

  .container-about{
    margin-top: 150px;
  }

  .about-description {
    width: 400px;
    margin: auto;
    margin-top: 20px;
    line-height: 190%;
    text-align: center;
    font-family: 'Helvetica', Helvetica, Arial, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 0.6em;
    color: #fff;
  }

  .fa{
    margin-top: 50px; 
    color: #fff;
  }

  .about-hello{
    font-family: 'Courier New';   // OBS se över fontfam
    margin-bottom: 0;
    text-align: center;
    font-size: 2.1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.6em;
    color: #fff;
  
  }

}



/* Post preview content for feed */
.feed-container {
  width: 100vw;
  padding-top: 140px;
  padding-bottom: 100px;
  margin: 0px;

  .post-content{
    margin-bottom: 100px;
    border: 2px solid rgb(212, 54, 83);
  
    .thumbnail-container{
      margin: 0px;
      padding: 0px;
      height: 250px;
      border: 2px solid blue;

      img.thumbnail-image{
        object-fit: cover;
        width: 100%;
        height: 250px;
      }
    }
  }
}


.sidebar{
  border: 1px solid purple;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
  * Footer
  */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}  

