body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background-color: $light_grey;
}

li{
  display: inline;
  list-style: none;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Quicksand', sans-serif;
}

/* Navbar */

.nav-container{
  background-color: #2d2d2d;
}

.navbar {

  li {
    margin-top: 20px;
    margin-top: 20px;
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;	
  
    a {
      font-family: "Roboto", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-size: 0.7em;
      letter-spacing: 0.6em;
      position: relative;
      display: inline-block;
      padding: 10px;
      font-weight: 500;
      color: #fff;
    }
        
    a:hover,
    a:focus {
      color: $lighter_teal;
      text-decoration: none;
    }  
  }
}


/* Page header */

.front-page-header {
  background-image: url(assets/theme_images/hero-image.jpg);
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  margin: auto;
  text-align: center;

  .container-about{
    margin-top: 190px;
  }

  .about-description {
    width: 400px;
    margin: auto;
    margin-top: 20px;
    line-height: 200%;
    text-align: center;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.6em;
    color: #fff;
  }

  .about-hello{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 2.4em;
    letter-spacing: 0.6em;
    color: #fff;
  
  }
  
  .fa{
    font-size: 1.5em;
    margin-top: 80px; 
    color: #fff;
  }

}

/* Post preview content for feed */
.feed-container {
  width: 100vw;
  padding-top: 140px;
  padding-bottom: 100px;
  margin: 0px;

  .post-categories{
    margin-bottom: 10px;
    padding: 0px;
  }
  

  .post-content{
    line-height: 190%;
    color: $light_teal;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 100px;

    a{
      color: $light_teal;
    }

    a:hover {
      color: $dark_teal;
      text-decoration: none;
      cursor: pointer;
    }

    h1>a{
      font-size: 0.7em;
      color: $light_teal;
    }

    h1>a:hover{
      color: $dark_teal;
      text-decoration: none;
      cursor: pointer;
    }
  
    .thumbnail-container{
      margin: 0px;
      margin-bottom: 10px;
      padding: 0px;
      height: 250px;

      img.thumbnail-image{
        object-fit: cover;
        width: 100%;
        height: 250px;
      }
    }
  
    a#readmore{
      color: $light_teal;
      padding: 8px 20px 8px 20px;
      border-radius: 15px;
      border: 1.5px solid $light_teal;
    }

    a#readmore:hover{
      color: $dark_teal;
      border: 1.5px solid $dark_teal;
      cursor: pointer;
    }

  }
}


.sidebar{
  border: 1px solid purple;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
  * Footer
  */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}  

