body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background-color: $light_grey;
}


/* General styling: */

li{
  list-style: none;
  display: inline;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Quicksand', sans-serif;
}

p, a{
  color: $light_teal;
}

a:hover{
  color: $dark_teal;
  text-decoration: none;
}



/* Navbar */

.nav-container{
  background-color: $dark_grey;
}

.navbar {
  padding-top: 20px;

  li {
    margin-top: 20px;
    margin-top: 20px;
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;	
  
    a {
      font-family: "Roboto", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-size: 0.7em;
      letter-spacing: 0.6em;
      position: relative;
      display: inline-block;
      padding: 10px;
      font-weight: 500;
      color: #fff;
    }
        
    a:hover,
    a:focus {
      color: $lighter_teal;
      text-decoration: none;
    }  
  }
}


/* Page header */

.front-page-header {
  background-image: url(assets/theme_images/hero-image.jpg);
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  margin: auto;
  text-align: center;

  .container-about{
    margin-top: 190px;
  }

  .about-description {
    width: 400px;
    margin: auto;
    margin-top: 20px;
    line-height: 200%;
    text-align: center;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.6em;
    color: #fff;
  }

  .about-hello{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 2.4em;
    letter-spacing: 0.6em;
    color: #fff;
  
  }
  
  .fa{
    font-size: 1.5em;
    margin-top: 80px; 
    color: #fff;
  }

}

.author-container{
  margin-bottom: 70px;
  text-align: center;
  padding: 80px 0px 80px 0px;
  background-color: #fff;

  p, h2{
    text-align: left;
  }

  img.avatar.avatar-190.photo{
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  }

  .small-authour-bio{

    ul{
      text-align: left;
      padding: 0px;

        .fa{
        font-size: 2em; 
        margin-right: 10px; 
        color: $light_teal;
        }

        .fa:hover{
          color: $dark_teal;
          }

    }
  }
}

/* Post preview content for feed */
.feed-container {
  width: 100vw;
  padding: 50px 0 60px 0;
  margin: 0px;
  line-height: 190%;
  
  .post-content{
    margin-bottom: 60px;
  }
  
    li{
      display: inline;
    }

    .post-categories{
      margin-bottom: 10px;
        
      a{
        font-family: 'Roboto Mono', monospace;
        color: $lighter_teal;
        text-transform: lowercase;
        letter-spacing: 3px;
        padding: 0px;
      }

      a:hover {
        color: $dark_teal;
        text-decoration: none;
        cursor: pointer;
      }

      // Styles the separator
      a:not([href]):not([tabindex]) {
        color: $lighter_teal;
        letter-spacing: 3px;
      }
    }

    h2>a{
      font-size: 0.9em;
      color: $light_teal;
    }

    h2>a:hover{
      color: $dark_teal;
      text-decoration: none;
      cursor: pointer;
    }
  
    a#readmore{
      color: $light_teal;
      padding: 8px 20px 8px 20px;
      border-radius: 15px;
      border: 1.5px solid $light_teal;
    }

    a#readmore:hover{
      color: $dark_teal;
      border: 1.5px solid $dark_teal;
      cursor: pointer;
    } 
}

/* Thumbnails */

.thumbnail-container{
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
  height: 260px;

  img.thumbnail-image{
    object-fit: cover;
    opacity: 0.8;
    width: 100%;
    height: 260px;
  }

  img.thumbnail-image:hover{
    opacity: 1;
  }
}

.filterby-container{
  max-width: 80%;
  margin-top: 70px;
  padding: 0px;

h1{
  font-family: 'Roboto Mono', monospace;
  font-size: 2em;
  letter-spacing: 0.1em;
  margin-bottom: 26px; 
  color: $dark_grey;
}

a{ 
  font-family: 'Roboto Mono', monospace;
  text-transform: lowercase;
  background-color: $lighter_teal;
  color: #fff;
  padding: 8px 12px 8px 12px;
  border-radius: 15px;
  margin-right: 5px; 
}

a:hover, a:focus{
  background-color: $light_teal;
  text-decoration: none;
  
}

}

.sidebar{
  background-color: #fff;
  padding: 10px;

  .sidebar-module{
    padding: 10px;
  }

}


/* Pagination */
.pagination-links{
  color: $light_teal;
  padding: 0px;
  margin-bottom: 60px;
  text-align: left;

  .pagination-links:hover {
    text-decoration: none;
  }
}


/*
  * Footer
  */

.footer {
  padding: 70px 0;
  text-align: center;
  background-color: $dark_grey;
}

.footer p:last-child {
  margin-bottom: 0;
}  

